VITE_FIREBASE_API_KEY=AIzaSyA-DAC6U99thD6Vy3uuAdkqXfYxrr3w83Q
VITE_FIREBASE_AUTH_DOMAIN=eduvault-prod.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=eduvault-prod
VITE_FIREBASE_STORAGE_BUCKET=eduvault-prod.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=445324796415
VITE_FIREBASE_APP_ID=1:445324796415:web:677fffe4421b5ea9f747ca
VITE_ADMIN_EMAIL=alfonsod0611@gmail.com